################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BE/YourBuddyPull/Presentation/YourBuddyPull.API/appsettings.json
